.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(222, 46%, 11%);
  overflow: hidden;
  position: relative;
}

.circle {
  width: 450px;
  height: 450px;
  border-radius: 50%; /* Hace que el div sea un círculo */
  background: radial-gradient(
    circle,
    rgb(11, 164, 188) 0%,
    hsla(188, 89%, 39%) 20%,
    hsla(188, 89%, 39%) 40%,
    hsla(188, 89%, 39%) 60%,
    hsla(188, 89%, 39%) 80%,
    rgba(15, 21, 47, 0) 100%
  );
  position: absolute; /* Hace que el círculo sea fijo en la ventana del navegador */
  pointer-events: none; /* Para que el círculo no afecte los eventos del ratón */
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  filter: blur(100px);
}
