$primary: #27282d;
$secondary: #3fc9e4;
/* $primary: #27282D;
$secondary: #3FC9E4; */

$warning: #b95700;
$error: #f44336;

$active: #0cb039;
$inactive: #f44336;

/* [23:04, 15/3/2024] Pato: #18993b
[23:04, 15/3/2024] Pato: #128731
[23:04, 15/3/2024] Pato: #0a7828 */

/* MAIN */
$background: #0f172a;
$background-opacity: rgba(15, 23, 42, 0.7);
$background-sidebar: #0000007a;
$background-secondary: #1e293b;
$background-secondary-opacity: rgba(38, 150, 242, 0.1);
$background-card: rgba(255, 255, 255, 0.1);
$border-color: #3e4a63;
$secondary-border-color: rgb(71 71 71 / 50%);
$background-transparent: transparent;
$font-principal: #f4f4f4;
$font-secondary: #2196f3;

$background-linear-right: linear-gradient(
  to right,
  $background-secondary,
  transparent
);

$hover: #3a547ec0;

// box-shadow

$primary-box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.25);

$text-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);

$primary-box-shadow-50: 6px 6px 30px 0px rgba(0, 0, 0, 0.5);

$primary-box-shadow-80: 6px 6px 30px 0px rgba(0, 0, 0, 0.8);

$secondary-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);

/* Landing Event Tickets */
$background-tickets: #041744;

/* $background: #f8fafc;*/
// Navbar
$nav-active: #757575;

// SubNavbar
$sub-nav-border: #c3c3c3;
$disabled: #c5c5c5;
$color-disabled: #8b8e92;

$primary: #27282d;
$primary-opacity: #2897f380;
$primary-variant: #3f51b5;
$secondary: #03dac6;
$secondary-variant: #018786;

$primary-action: #2196f3;

// Media Queries
$phone: 480px;
$tablets: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Border PX
$border-radius: 12px;
$border-radius-5: 5px;
